.head{
    border: 5px orange solid;
    border-radius: 5px;

}
.main{
    border: 5px blue solid;
    border-radius: 5px;
    margin: 10px;
}
.foot{
    border: 5px green solid;
    border-radius: 5px;
    margin: 10px;
}
.foot2{
    border: 5px red solid;
    border-radius: 5px;
    margin: 10px;
}
.B1{
    color: white;
    background-color: purple;
    font-size: 30px;
    border-radius: 5px;
    margin: 10px;
}
.B2{
    color: white;
    background-color: teal;
    font-size: 30px;
    border-radius: 75px;
    margin: 10px;
    height: 85px;
    margin-left: 100px;
}
.left{
    width: 200px;
    display: inline-block;
}
.right{
    width: 600px;
    display: inline-block;
    background-color: tan;
    vertical-align: top;
}
